body {
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 300px;
  font-size: 16px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.search-results,
.bookshelf {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
}
